.logo {
  display: inline-block;
  background-image: url(http://static.frontendmasters.com/resources/2019-05-02-complete-intro-react-v5/image-logo.png);
  filter: brightness(150%);
  width: 279px;
  height: 76px;
  overflow: hidden;
  text-indent: -9999px;
  margin: 20px 0;
}
